#main {

}
#delivery{
    padding: 20px;
    margin: 15px;
    width: 1000px;
}
#addr {
    margin-top: 10px;
}
#addrBtn {

    margin-left: 10px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: white;
}
#delivery > ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    list-style-type: disc;
}
#delivery > ul >li {
    list-style: none;
    display: list-item;
    unicode-bidi: isolate;
    padding: 5px;
    margin: 5px;
}
#delivery > ul >li > input{
    display: inline;
    margin-left: 5px;
}
#product {
    margin: 5px;
    padding: 5px;
}
#product > img {
    width: 150px;
    height: 150px;
}
#payment{
    margin: 15px;
}
#payBtn {
    width: 1000px;
    display: inline;
    color: white;
    margin-left: 10px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: black;
    margin: 10px;
}

#price{
    margin: 10px;
    padding: 5px;
}

#price > ul {
    list-style: none;
}